<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1:0">
        <title>Notes</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <header class="notes-header">
                <button id="logoutBtn">Logout</button>
        </header>
        <div class="container">
            <div class="notes-section">
                <h2>Add Your Notes Here <span class="arrow">↓</span></h2>
                <form class="note-form" id="noteForm">
                    <input type="text" id="title" placeholder="Title" required>
                    <textarea id="content" rows="4" placeholder="Note" required></textarea>
                    <button type="submit">Add Note</button>
                </form>
                <div class="notes-list" id="notesList">

                </div>
            </div>
            <div class="image-section">
                <svg class="divider" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M100,0 C55,60 55, 70 100, 100 L0,100 L0,0 Z">
                </svg>
                <div class="overlay"></div>
            </div>
        </div>
        <script src="scripts.js"></script>
    </body>
</html>